@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.app {
  display: flex;
  margin-bottom: 250px;
  width: 100vw;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

}
.index{
  width: 20px;
}

.course {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-block: 4px;

  width: 90%;
  max-width: 1000px;
}

.score{
  position: absolute;
}

@media screen and (max-width: 600px) {
  .grade,
  .unit {
    padding: 5px;
    max-width: 20px;
  }
  .inc {
    margin-right: 5px;
  }
}

.grade,
.unit {
  padding: 15px;
}
.info {
  max-width: 800px;
  width: 90%;
}
.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.courses_no {
  width: 150px;
  margin-right: 8px;
  padding: 12px;
  font-family: "Poppins", sans-serif;
}

.gp {
  margin-top: 15px;
}
